<h1><%= I18n.translate("header") %></h1>

<p>
  <%= I18n.translate("hello") %>
</p>

<p>
  <%= I18n.translate("hello", :locale => "en") %>
</p>
<p>
  <%= I18n.translate("number_of_things", :count => 0) %>
</p>

<p>
  <%= I18n.translate("number_of_things", :count => 1) %>
</p>

<p>
  <%= I18n.translate("number_of_things", :count => 10) %>
</p>
