<h1><%= TidyI18n.translate(".header") %></h1>

<p>
  <%= TidyI18n.translate("hello") %>
</p>

<p>
  <%= TidyI18n.translate("hello", :locale => "en") %>
</p>
<p>
  <%= TidyI18n.translate(".number_of_things", :count => 0) %>
</p>

<p>
  <%= TidyI18n.translate(".number_of_things", :count => 1) %>
</p>

<p>
  <%= TidyI18n.translate(".number_of_things", :count => 10) %>
</p>
